@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font declarations */
@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-Light.ttf') format('ttf'),
       url('/public/fonts/OverusedGrotesk-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-Regular.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-Medium.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-SemiBold.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-Bold.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-ExtraBold.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OverusedGrotesk';
  src: url('../assets/fonts/OverusedGrotesk-Black.ttf') format('ttf'),
       url('../assets/fonts/OverusedGrotesk-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Italic.ttf') format('ttf'),
       url('../assets/fonts/PlayfairDisplay-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-MediumItalic.ttf') format('ttf'),
       url('../assets/fonts/PlayfairDisplay-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('ttf'),
       url('../assets/fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('ttf'),
       url('../assets/fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('ttf');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-BlackItalic.ttf') format('ttf'),
       url('../assets/fonts/PlayfairDisplay-BlackItalic.ttf') format('ttf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-overused-grotesk), var(--font-playfair-display);
  overflow-x: hidden;
}